<div class="container mt-4">
  <h2 class="mb-3">Gerenciamento de Planos dos Clientes</h2>

    <div class="row my-3">
      <div class="col-md-4">
        <label for="cliente" class="form-label">Cliente</label>
        <select id="cliente" class="form-select" [(ngModel)]="clienteId">
          <option *ngFor="let cliente of clientes" [value]="cliente.id">
            {{ cliente.nomeCompleto }}
          </option>
        </select>
      </div>

      <div class="col-md-4">
        <label for="plano" class="form-label">Plano</label>
        <select id="plano" class="form-select" [(ngModel)]="planoId">
          <option *ngFor="let plano of planos" [value]="plano.id">
            {{ plano.nome }}
          </option>
        </select>
      </div>

      <div class="col-md-4 d-flex align-items-end">
        <button type="submit" (click)="submitClientePlano()" class="btn btn-primary w-100">Adicionar</button>
      </div>
    </div>
  
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Plano</th>
            <th>Franquia de Dados</th>
            <th>Minutos</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clientePlano of clientePlanos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ clientePlano.nomeCompleto }}</td>
            <td>{{ clientePlano.nomePlano }}</td>
            <td>{{ clientePlano.franquiaDados }} GB</td>
            <td>{{ clientePlano.minutosLigacao }} min</td>
            <td>R$ {{ clientePlano.preco?.toString().replace('.', ',')  }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="ExcluirClientePlano(clientePlano.id)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>